################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SuperHeroAPI/bin/*
/.vs/SuperHeroAPI/v17
/bin/*
/obj/*
