################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SuperHeroAPI/bin/Debug/net6.0/SuperHeroAPI.exe
/.vs/SuperHeroAPI/v17
/bin
/obj