<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/73ba5c2d-c2ba-4bda-988e-ac93305f122d/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/SuperHeroEd</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://superheroed.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://superheroed.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$SuperHeroEd</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>